# Reborn 2
# @aironvol https://t.me/fbg5_waiters/137926
# Исправленная версия
# Смотри docs/Config_Reference.md для описания настройки параметров конфига.

[stepper_x] 
step_pin: PE3  
dir_pin: PE2 
enable_pin: !PE4 
microsteps: 32
rotation_distance: 40
endstop_pin: !PA15
position_endstop: 0
position_max: 325
homing_speed: 50

[stepper_y]
step_pin: PE0 
dir_pin: PB9 
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
endstop_pin: !PD2
position_endstop: 0
position_max: 325
homing_speed: 50

[stepper_z]
step_pin: PB5
dir_pin: PB4 
enable_pin: !PB8 
microsteps: 32
rotation_distance: 8
endstop_pin: !PC8
position_endstop: 0
homing_speed: 10
second_homing_speed: 2
position_min: 0
position_max: 350

[stepper_z1]
step_pin: PD15
dir_pin: PA1
enable_pin: !PA3
microsteps: 32
rotation_distance: 8
endstop_pin: !PC4 # 

[extruder]
step_pin: PD6
dir_pin: PD3
enable_pin: !PB3
microsteps: 32
rotation_distance: 15.632
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PE5 
sensor_type: PT1000
sensor_pin: PC1
pullup_resistor: 4700
min_temp: 0
max_temp: 350

[verify_heater extruder]
max_error: 120
check_gain_time: 60
hysteresis: 5
heating_gain: 2

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0 # Смотри пункт 1 в заголовке
min_temp: 0
max_temp: 130

[fan]
shutdown_speed: 1.0
pin: PC14 #обдув хотенда

[mcu]
serial: # ВВЕДИТЕ СВОЁ ЗНАЧЕНИЕ ЗДЕСЬ
restart_method: command

[printer]
kinematics: corexy
max_velocity: 800 #максимальные ускорения
square_corner_velocity: 5.0
max_accel: 6000
max_accel_to_decel: 6000
max_z_velocity: 25
max_z_accel: 100

[bed_screws] # точки на столе около винтов, тестовая версия, нужно мерить!
screw1: 34,52 
screw1_name: front left screw
screw2: 290,52
screw2_name: front right screw
screw3: 290,273
screw3_name: back right screw
screw4: 34,273
screw4_name: back left screw
speed: 150

[virtual_sdcard]
path: ~/gcode_files

[pause_resume]

[display_status]

[gcode_macro SHUTDOWN_MACHINE]

gcode:
    {action_call_remote_method("shutdown_machine")}

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    {% set X = params.X|default(10) %}
    {% set Y = params.Y|default(10) %}
    {% set E = params.E|default(2) %}
    {% set Z = params.Z|default(150) %}
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    {% set E = params.E|default(2) %}
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT
    M106 S0
    G91
    G1 Z5
    G90
    G1 X5 Y105
    M84

[gcode_macro PID_E]
gcode:
  {% set T = params.T|default(255) %}
  PID_CALIBRATE HEATER=extruder TARGET={T}

[gcode_macro PID_B]
gcode:
  {% set T = params.T|default(80) %}
  PID_CALIBRATE HEATER=heater_bed TARGET={T}
